@import "./_swiper.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Squada One", "Noto Sans TC", system-ui, sans-serif;
  }
  body {
    overflow-x: hidden;
  }
  * {
    @apply border-black;
  }

  th {
    @apply font-noto font-normal whitespace-nowrap;
  }

  td {
    @apply whitespace-nowrap;
  }
}

@layer components {
  .more {
    @apply relative ml-auto block border border-black py-2 px-12 hover:bg-primary hover:text-white;
  }
  .corner {
    @apply absolute bottom-0 right-0 h-4 w-4 border-8 border-transparent border-r-primary border-b-primary;
  }

  .corner-black {
    @apply h-6 w-6 border-[12px] border-r-black border-b-black;
  }
  .corner-black-lg {
    @apply border-r-black border-b-black;
  }
  .corner-primary-lg {
    @apply border-r-primary border-b-primary;
  }
}

.more:hover .corner {
  border-color: transparent;
  border-right-color: black;
  border-bottom-color: black;
}
